In [11]:
import pandas as pd
import numpy as np
from statistics import median, mean

In [18]:
weather_df = pd.read_csv("cycle_share_data_set/weather.csv")
trip_df = pd.read_csv("cycle_share_data_set/trip.csv", error_bad_lines=False)
station_df = pd.read_csv("cycle_share_data_set/station.csv")
trip_df

/home/wonde/codefellows/code-401/Data-Analysis-with-Pandas/bike-stats/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [23]:
# What is the average trip duration for a borrowed bicycle?
avg_duration = (trip_df["tripduration"].mean()/60).round(decimals = 0)
print(f' Average trip duration rounded to minute: {avg_duration}')

 Average trip duration rounded to minute: 20.0

In [33]:
# What’s the most common age of a bicycle-sharer?
year = int(trip_df["birthyear"].mode())
age = 2021 - year
age

34

In [29]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.
avg_precipitation = weather_df["Precipitation_In"].mean()
avg_precipitation

0.10506531204644412

In [31]:
# and the median precipitation.
median_precipitation = weather_df["Precipitation_In"].median()
median_precipitation

0.0

In [34]:
# What’s the average number of bikes at a given bike station
avg_bikes_a_station = station_df["current_dockcount"].mean()
avg_bikes_a_station

16.517241379310345

In [36]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
difference_in_number_of_bikes = station_df['current_dockcount'] - station_df['install_dockcount']
difference_in_number_of_bikes.mean()

-1.0689655172413792

In [ ]:
# Using the above calculation I know stations are to lose about 1 bike after being modified. Some change happening here addd